$purple: rgb(167, 41, 245);
$green: rgb(38, 215, 130);
$red: rgb(255, 0, 0);
$gray: rgb(98, 108, 127);
$white: rgb(244, 246, 250);
$light-background: rgba(229, 231, 235, 0.7);
$dark-background: rgb(49, 62, 81);
$dark-box: rgb(59, 77, 102);
$html: rgb(255, 241, 233);
$css: rgb(224, 253, 239);
$js: rgb(235, 240, 255);
$accessibility: rgb(246, 231, 255);