@use '../abstracts/colors' as *;
.dark{
  background-color: $dark-background;
  color: $white;
  .box{
    background-color: $dark-box;
    color: $white;
    &:hover .variant{
      background-color: rgba($purple, .5);
      color: $white;
    }
    &:focus .variant{
          background: $purple;
          color: $white;
    }
    .variant{
      background-color: $white;
      color: $dark-background;
    }
  }
  .correct{
       border-color: $green;
       gap: 2rem;
       position: relative;
       display: grid;
       grid-template-columns: 1fr 8fr 1fr;
       align-items: center;
       gap: 2rem;
        .variant{
          background: $green;
          color: $white;
          font-weight: 500;
        }
    }
  .incorrect{
      @extend .correct;
      border-color: $red;
      .variant{
        background-color: $red;
      }
  }
}
