@use "../abstracts/colors" as *;

.icon-html{
  background-color: $html;
}
.icon-css{
  background-color: $css;
}
.icon-js{
  background-color: $js;
}
.icon-accessibility{
  background-color: $accessibility;
}

.icon-html,.icon-css,.icon-js,.icon-accessibility{
  border: 1px solid;
  padding: .5rem;
  border-radius: .5rem;
}