@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


$fontsizes:(
  h1: clamp(2.4rem, 3vw, 2.8rem),
  h2: clamp(4rem, 6vw, 6.4rem),
  h3: clamp(3rem, 3vw, 3.5rem),
  // i: clamp(3rem, 3vw, 3.6rem),
  h4: clamp(2.6rem, 2vw, 2.6rem),
  button: clamp(2.6rem, 2vw, 2.6rem),
  p: 2rem,
  input: 2rem,
  select: 2rem,
  option: 2rem,
  span: inherit
);

@each $font, $size in $fontsizes {
  #{$font}{
    font-size: $size;
  }
}
h1, h2{
  font-weight: 300;
}