@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;

  .header{
    display: flex;
    justify-content: space-between;
    padding-inline: map-get($mobile, padding-inline);
    padding-block: 2rem;
    figure{
      display: flex;
      align-items: center;
      gap: 2rem;
      cursor: pointer;
    }
    &__switcher{
      display: flex;
      align-items: center;
      gap: 1rem;
      &__toggleWrapper{
        width: 5rem;
        height: 2.5rem;
        background-color: $purple;
        border-radius: 5rem;
        position: relative;
        &__checkbox{
          opacity: 0;
          position: absolute;
          inset: 0;
          z-index: 1;
          cursor: pointer;
        }
        &__toggle{
          height: 85%;
          width: 45%;
          border-radius: 5rem;
          background-color: $white;
          display: block;
          position: absolute;
          inset: .2rem auto .2rem .2rem;
        }
        &:has(&__checkbox:checked) &__toggle{
          inset: .2rem .2rem .2rem auto;
        }
      }
    }
  }
  
// tablet
@include response(map-get($tablet, width)){
  .header{
    padding-inline: map-get($tablet, padding-inline);
    padding-block: 5rem;
  }
}

// desktop
@include response(map-get($desktop, width)){
  .header{
    padding-inline: map-get($desktop, padding-inline);
  }
}
