@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;
@use '../abstracts/colors' as *;
// mobile
.menu{
  padding-inline: map-get($mobile, padding-inline);
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-block: 5rem;
  div{
    @include flex(2rem, _, center);
    flex-direction: column;
    h2 span{
      font-weight: 600;
    }
  }
  aside{
    @include flex(2rem, column, stretch);
    flex-grow: 1;
    button{
      @include flex(2rem, _, center);
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      background-color: $white;
      cursor: pointer;
      border: 1px dotted rgba($gray, .3);
    }
  }
}

// tablet
@include response(map-get($tablet, width)){
 .menu{
    grid-template-columns: 1fr 1.3fr;
    padding-inline: map-get($tablet, padding-inline);
    div{
      align-items: start;
      gap: 3rem;
    }
  }
}

// desktop
@include response(map-get($desktop, width)){
  .menu{
    padding-inline: map-get($desktop, padding-inline);
  }
}