@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;
@use '../abstracts/colors' as *;

// mobile
.result{
  padding-inline: map-get($mobile, padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  &__heading span{
    font-weight: 600;
  }
  &__body{
    display: grid;
    gap: 2rem;
    &__content{
      padding-block: 5rem;
      @include flex(2rem, column, center);
      border-radius: 1.5rem;
      figure{
        @include flex(3rem, _, center);
        figcaption h1{
          font-weight: 600;
        }
      }
      h2{
        font-weight: 600;
        font-size: clamp(3rem, 8vw, 10rem);
      }
    }
  }
}

// tablet
@include response(map-get($tablet, width)){
  .result{
    padding-inline: map-get($tablet, padding-inline);
    padding-block: 5rem;
  }
}

// desktop
@include response(map-get($desktop, width)){
  .result{
    padding-inline: map-get($desktop, padding-inline);
  }
}